html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    color: #400F10;
    font-family: 'Roboto';
}

.navbar {
    background-color: #9C282A;
    color: #fafafa;
    font-size: 21px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1vw;
    padding-left: 0.5vw;
}

.navbar-menu a {
    margin: 20px;
}

.navbar-picto {
    margin-left: 10px;
}

.navbar a {
    text-decoration: none;
    color: #fafafa;
}

.navbar .active {
    font-weight: bold;
}

.navbar-backoffice {
    background-color: #9C282A;
    color: #fafafa;
    font-size: 21px;
    height: 60px;
}

a:hover {
    font-weight: bold;
}

.navbar-picto {
    width: 40px;
}

h1 {
    font-family: 'Audiowide';
}

h3 {
    margin: 0;
    font-size: 32px;
}

.image-replay {
    display: block;
    width: 100%;
}

.sous-titre {
    background-color: #9C282A;
    color: #fafafa;
    padding: 40px;
    padding-left: 80px;
    padding-right: 100px;
}

.titre {
    margin: 40px;
    margin-bottom: 0;
    font-size: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.jeux-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.jeu-image {
    width: 400px;
    margin: 10px;
}

.bouton a {
    background-color: #9C282A;
    font-size: 32px;
    text-decoration: none;
    color: #fafafa;
    padding: 20px 40px;
    border-radius: 40px;
}

.bouton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.accueil-image {
    width: 300px;
    margin: 20px;
}

.accueil-avis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FDF3F3;
    margin: 20px;
    padding: 10px;
    border-radius: 40px;
}

.footer {
    background-color: #9C282A;
    color: #fafafa;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.jeu-liste {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recherche-barre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.recherche-input {
    padding-left: 40px;
    padding-right: 10px;
    height: 40px;
    border: 1px solid #CE3437;
    border-radius: 20px;
    background: none;
    font-size: 21px;
    width: 600px;
}

.recherche-icone {
    margin-right: 20px;
    color: #9C282A;
    width: 40px;
}

.bouton-style {
    background-color: #9C282A;
    border: none;
    color: #fafafa;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 21px;
    text-decoration: none;
}

.filtres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filtre {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 17px;
    margin-left: 40px;
}

.filtre input {
    margin: 10px;
}

h2 {
    font-size: 35px;
    margin-left: 40px;
}

.deroulement {
    font-size: 17px;
    margin-left: 40px;
    line-height: 2;
}

.etat {
    background-color: #9C282A;
    color: #fafafa;
    padding: 20px;
    margin: 10px;
}

.qualite {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.jeu-details {
    display: flex;
    flex-direction: row;
    margin: 40px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.dashboard-liste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
